.input-field {
  display: flex;
  text-align: center;
  width: 74px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #454545;
  padding: 6px;
}

.error-message {
  color: red;
  margin-top: 5px;
  font-size: medium;
}
