.navbar-toggler-icon {
  background-image: url("img/ham-menu-icon.svg");
  filter: invert();
}

.navbar-toggler {
  border-width: 0px;
}

.product-img {
  width: 90px;
  height: 90px;
  border-radius: 12px;
}

.product-focused-img {
  width: 532px;
  height: 532px;
  border-radius: 12px;
}

.small-icon {
  width: 24px;
  height: 24px;
}

.btn-purple {
  background-color: #6200ee;
  color: white;
  border: 0px;
}

.btn-purple:hover {
  background-color: #6200ee;
  filter: brightness(0.8);
  color: white;
  border: 0px;
}

.hstack-top {
  align-items: flex-start;
  justify-content: center;
}

.limit-width {
  max-width: 900px; /* set the maximum width to 500 pixels */
}
