.outDiv{
  display:flex;
  justify-content: center;
  margin-top: 100px;
  height: 100vh;
}

.optionDiv{
  border-radius: 16px;
  padding: 2.5%;
  background-color: #FFFFFF;
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.crudDiv{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.modifyDiv{
  border-radius: 16px;
  padding: 2.5%;
  background-color: #FFFFFF;
  width: 65%;
  height: 500px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
}

