.options-wrapper{
    display: flex;
    justify-content: center;
}
.admin-wrapper{
    background-color: #FFFF;
    padding: 2em;
    border-radius: 6.25%;
}
.searchbar-admin{
    display: flex;
    justify-content: center;
    margin: 1em;
}
.button-admin{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.inputbox-wrapper{
    margin: 1em;
}
.label-wrapper{
    display: flex;
    justify-content:center;
}
.text{
    font-size: 25px;
    margin-bottom: 30px;
}
