.optionDiv{
  border-radius: 1em;
  align-content: center;
  padding: 2.5%;
  background-color: #FFFFFF;
  width: 15em;
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.crudDiv{
  text-align: center;
  flex-direction: column;
  width: 80%;
}

.modifyDiv{
  border-radius: 1em;
  padding: 2.5%;
  background-color: #FFFFFF;
  width: 100%;
  text-align: center;
}

