.stub{
  display: flex;
  text-align: left;
  flex-direction: column;
}

.innerDiv{
  border-radius: 1.5em;
  padding: 2.5%;
  background-color: #FFFFFF;
}

.labelTitle{
  margin-bottom: 3%;
  font-size: 1.6em;
}
