.stub{
  display: flex;
  text-align: left;
  flex-direction: column;
}

.innerDiv{
  margin-top: 50px;
  border-radius: 16px;
  padding: 2.5%;
  background-color: #FFFFFF;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.labelTitle{
  margin-bottom: 20px;
  font-size: 27px;
}