.loginDiv {
  background-color: #ffffff;
  padding: 2rem;
  text-align: center;
  margin: auto;
  width: 35%;
  border-radius: 2rem;
}

.loginOptions {
  text-align: center;
  margin-left: auto;
  margin-top: 15px;
}

.rememberMe {
  font-size: 0.7rem;
  margin-left: 0.4rem;
}

.forgotPassword {
  font-size: 0.7rem;
  margin-left: 20%;
}

.createAccount {
  font-size: 0.7rem;
}
