.loginDiv {
    background-color: #FFFFFF;
    padding: 2rem;
    text-align: center;
    margin: auto;
    width: 40%;
    border-radius: 2rem;
}

.loginOptions {
    text-align: center;
    margin-left: auto;
    margin-top: 1rem;
}

.rememberMe {
    font-size: 0.7rem;
    margin-left: 0.4rem;
}

.forgotPassword {
    font-size: 0.7rem;
    margin-left: 20%;
}

.createAccount {
    font-size: 0.7rem;
}
