@media (min-width: 48em) {
  .col1 {
    width: 50%;
    float: left;
  }

  .col2 {
    width: 50%;
    float: left;
  }

  .my-row {
    content: "";
    display: table;
    clear: both;
  }
}

.productDiv {
  height: 100%;
  background-color: #ffffff;
  padding: 5%;
  border-radius: 2rem;
}

.outer-div-product {
  display: flex;
  flex-direction: column;
  text-align: left;
}
