.options-wrapper{
    display: flex;
    justify-content: center;
}
.product-wrapper{
    background-color: #FFFF;
    padding: 2em;
    border-radius: 6.25%;
}
.searchbar-product{
    display: flex;
    justify-content: center;
    margin: 1em;
}
.button-product{
    display: flex;
    justify-content: center;
}
.inputbox-wrapper{
    margin: 1em;
}
.label-wrapper{
    display: flex;
    justify-content:center;
}
