/*
@media (min-width: 48em) {
  .column1 {
    width: 50%;
    float: left;
  }

  .column2 {
    width: 50%;
    float: left;
  }

  .my-row {
    content: "";
    display: table;
    clear: both;
  }
}
*/
