.options-container{
    text-align: center;
    display: flex;
}

.product-wrapper{
    background-color: #FFFF;
    padding: 2em;
    border-radius: 6.25%;
    margin: 2em;
}

.button-product{
    display: flex;
    justify-content: center;
}

.inputbox-wrapper{
    margin: 1em;
}

.label-wrapper{
    display: flex;
    justify-content:center;
}