.options-wrapper{
    display: flex;
    justify-content: center;
}
.user-wrapper{
    background-color: #FFFF;
    padding: 2em;
    border-radius: 6.25%;
}
.searchbar-user{
    display: flex;
    justify-content: center;
    margin: 1em;
}
.button-user{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.inputbox-wrapper{
    margin: 1em;
}
.label-wrapper{
    display: flex;
    justify-content:center;
}
.text{
    font-size: 25px;
}
